/** Components: Menu */

.menu {
  &__link--active {
    --ifm-menu-color-active: var(--strapi-neutral-700);

    &:not(.menu__link--sublist) {
      --ifm-menu-color-active: var(--strapi-primary-600);
    }
  }
}

/** Dark mode */
@include dark {
  .menu {
    &__link--active {
      --ifm-menu-color-active: var(--strapi-dark-neutral-800);

      &:not(.menu__link--sublist) {
        --ifm-menu-color-active: var(--strapi-primary-500);
      }
    }
  }
}
